  {% include 'header.html'%}

    <main>
      <form class="container-fluid my-form" action="{{url_for('results')}}" method="POST">
        <label for="anime_category" class="form-label mb-3 my-label"
          >アニメのカテゴリ</label
        >
        <select
          id="anime_category"
          class="form-select"
          name="genre"
        >
          {% for num in range(all_genre | length):%}
          <option value="{{all_genre[num]['title'].replace('/','')}}">{{all_genre[num]['title']}}</option>
          {% endfor %}
        </select>
        <div class="form-check mt-5 ms-5">
          <input
            class="form-check-input my-radio"
            type="radio"
            name="from_ranking"
            id="not_from_ranking"
            value=""
            checked
          />
          <label class="form-check-label my-radio-label" for="not_from_ranking">
            ランキングを指定しない
          </label>
        </div>
        <div class="form-check ms-5">
          <input
            class="form-check-input my-radio"
            type="radio"
            name="from_ranking"
            id="from_ranking"
            value="True"
          />
          <label class="form-check-label my-radio-label" for="from_ranking">
            ランキングを指定する
          </label>
        </div>
        <label
          for="my-ranking-select"
          class="form-label mt-4 mb-3 my-label my-ranking-select hide"
          >ランキング:</label
        >
        <select
          id="my-ranking-select"
          name="ranking"
          class="form-select my-ranking-select hide"
        >
          <option value="4">Top 5 アニメ</option>
          <option value="29">Top 10 アニメ</option>
          <option value="34">Top 25 アニメ</option>
          <option value="49">Top 50 アニメ</option>
        </select>
        <button type="submit" class="btn btn-primary px-5 py-2 my-btn">
          アニメを探す
        </button>
      </form>
      {% if request.MOBILE: %}
      <a href="https://t.afi-b.com/visit.php?guid=ON&a=W6892w-g232138b&p=c8631632" rel="nofollow noopener" target="_blank" class="my-unext-mobile-ad">
        <img src="https://www.afi-b.com/upload_image/6892-1422246792-3.gif" width="320" height="50" style="border:none;" alt="U-NEXT" />
      </a>
      <img src="https://t.afi-b.com/lead/W6892w/c8631632/g232138b" width="1" height="1" style="border:none;" />
      {% endif %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
